/* desktop ----------- */
$break-point-desktop: 1440px;

/* destop small (landscape) ----------- */
$break-point-desktop-small: 1280px;

/* tablet (landscape) ----------- */
$break-point-tablet-landscape: 1024px;

/* tablet (portrait) ----------- */
$break-point-tablet-portrait: 768px;

/* phone (landscape) ----------- */
$break-point-phone-landscape: 640px;

/* phone (portrait) ----------- */
$break-point-phone-portrait: 500px;

/* phone (small) ----------- */
$break-point-phone-small: 321px;

//breakpoints
// ==========================================================================

@mixin bp($point) {
  @if $point == desktop {
    @media (min-width: 1280px) {
      @content;
    }
  } @else if $point == desktop-down {
    @media (max-width: 1279px) {
      @content;
    }
  } @else if $point == tab {
    @media (min-width: 768px) and (max-width: 1279px) {
      @content;
    }
  } @else if $point == tab-up {
    @media (min-width: 768px) {
      @content;
    }
  } @else if $point == mob {
    @media (max-width: 767px) {
      @content;
    }
  } @else if $point == mob-portrait {
    @media (max-width: 420px) {
      @content;
    }
  }
}

@mixin lt-tab() {
  //tablet AND mobile
  @media (min-width: 768px) and (max-width: 1279px) {
    @content;
  }

  @media (max-width: 767px) {
    @content;
  }
}

@mixin gt-tab() {
  //tablet AND mobile
  @media (min-width: 768px) {
    @content;
  }
}
