// ------ Display Flex @Mixin ------
@mixin d-flex($direction: row, $j-content: flex-start, $a-items: flex-start) {
  display: flex;
  flex-direction: $direction;

  @if ($j-content) {
    justify-content: $j-content;
  }

  @if ($a-items) {
    align-items: $a-items;
  }
}

@mixin set-padding($padding) {
  padding: $padding;
}

@mixin text($fontsize) {
  color: $blue;
  font-size: $fontsize;
}
