$gray: #828282;
$red: #c70808;
$blue: #011c58;
$white: #ffffff;
$black: #000000;
$gray-white: #fafafa;
$gray-medium: #f1f1f1;
$blue-red-gradient: linear-gradient(157.46deg, $blue 10.78%, $red 93.62%);
$text-color: #0051e3;
$border-color: #e0e0e0;
$status-color: #f2994a;
